@import "bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css";

input:focus, .custom-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 248, 255, 0.76) !important ;
    border-color: #f0f8ff !important;
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/font/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("/font/Roboto-Bold.ttf");
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto-Bold", sans-serif;
}

body {
    transition: background-color 0.4s ease, color 0.4s ease;
    overflow-x: hidden;
    font-family: "Roboto-Light", sans-serif;
}

body.light {
    background-color: #f0f8ff !important;
}
body.light * {
    color: #1e293b !important;
}
body.dark  {
    background-color: #1e293b !important;
}
body.dark * {
    color: #f5f5f5 !important;
}
body.dark input::placeholder {
    color: #1e293b !important;
}
body.dark input {
    color: #1e293b !important;
}
body.dark .card * {
    color: #1e293b !important;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.theme-icon {
    transition: transform 0.4s ease;
}
.rotate {
    transform: rotate(180deg);
}
body {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.temp {
    animation: fadeInUp 0.6s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.cloud {
    position: absolute;
    top: 50px;
    width: 100px;
    opacity: 0.5;
    z-index: 2;
}

.cloud img {
    width: 100%;
    height: auto;
}
.cloud-1, .cloud-2 {
    animation: cloudFloat 100s linear infinite;
}
.cloud-3, .cloud-4 {
    animation: cloudFloatReverse 100s linear infinite;
}

.cloud-1 {
    left: -150px;
    top: 80px;
    animation-delay: 0s;
}
.cloud-2 {
    left: -250px;
    top: 80px;
    animation-delay: 35s;
}
.cloud-3 {
    right: -150px;
    top: 130px;
    animation-delay: 35s;
}
.cloud-4 {
    right: -250px;
    top: 130px;
    animation-delay: 0s;
}

@keyframes cloudFloat {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(120vw);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes cloudFloatReverse {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-120vw);
    }
    100% {
        transform: translateX(0);
    }
}
@media (min-width: 1024px) {
    body {
        height: 100vh;
    }
}